*{
	margin: 0px;
	padding: 0px;
	border: 0;
}
.bar{
	box-shadow:0px 1px 10px 1px #F0F0F0;
	width:100%;
	height:50px;
	padding-left: 20%;
}
.drop_a{
	dispaly:block;
	height:50px;
	width:100px;
}
.drop_a:hover,.drop_a:focus{
	text-decoration: none;
	color:#fac;
}
.bar_a{
	
	color: #000;
	height:50px;
	width:50px;
	margin-left:5px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	background: #fff;
}
.bar_img{
	
	width:35px;
	height:35px;
	border-radius:50%;
	margin-bottom: 4px;
}
.bar_a:hover {text-decoration:none;
	color:#fac;
}
img{
	
	width:100%;
	height:100%;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.header_bar{
	float: left;
	
}
.p_title{
	background: #F5F5F5;
	font-size: 20px;
	height:50px;
	line-height: 50px;
	padding-left: 2%;
	
}
.herder{
	width:70px;
	height:70px;
	float:left;
	border-radius:50%;
}
.p_body{
	

	
	
}
.p_body ul li{
	padding-top: 15px;
	height:100px;
	box-shadow:0px 1px 0px 0px #F0F0F0;
	
}
.p_body ul li a{
	color: #fac;
	
}
._body{

	float:left;
	width:450px;
	font-size: 17px;
	margin-left: 5px;
}
.t_body{
	
}
.t_lei{
	width:47%;
	float:left;
	height:8%;
	border: 1px solid #DEDEDE;
	border-radius:5%; 
	box-shadow:0px 1px 5px 1px #F0F0F0;
}
.t_body>div{
}
.t_lei_0{
	display:block;
	padding: 7px 0px 0px 13px;
	color:#000;
	width:100%;
	height:100%;
}
.t_lei_0:hover{
	text-decoration:none;
	
}
.t_lei_1{
	font-size:19px;
}
.t_lei_2{
	font-size:13px;
	color:#9F9F9F;
}
.lev{
	width:50px;
	height:25px;
	margin-top: 10px;
	border: 1px solid #DEDEDE;
	border-radius:3px;
	line-height: 25px;
	text-align: center;
}
.float_div{
	width:55px;
	height:105px;
	position: fixed;
	left:96%;
	top:86%;
	border: 1px solid #DEDEDE;
	
}
.float_div1{
	width:100%;
	height:50%;
	display:block;
	border-bottom: 1px solid #DEDEDE;
}
.float_div2{
	width:100%;
	height:50%;
	display:block;
	border-top: 1px solid #DEDEDE;
}
.footer{
	margin-top:20px;
	width:100%;
	height:300px;
	background: #393939;
}


